.item {
  display: flex;
  gap: var(--gutter-xs);
  align-items: baseline;
  flex-wrap: wrap;

  transition-property: opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  @starting-style {
    opacity: 0;
    transform: scaleY(0.01) translate(30px, 0);
  }
}

.done {
  text-decoration-line: line-through;
  text-decoration-color: coral;
}

.deleted {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
  text-decoration-color: coral;
}
